{% set content_page = True %}
{% extends "base.html" %}
{% block page_title %}{{ _('Edit Course Content') }}{% endblock %}
{% block page_js %}
    <script src="/static/js/content.js"></script>
{% endblock %}
{% block content %}
    <input type="hidden" id="__course_id" value="{{ course.id }}" />
    <input type="hidden" id="__program_id" value="{{ course.program.id }}" />
    <h1>Edit Course Content</h1>
    <h2>{{ course.title }}{% if course.abbr %} <small>({{ course.abbr }})</small>{% endif %}</h2>
{% if course.description %}<p>{{ course.description }}</p>{% endif %}
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label for"course_content">Course Content</label>
          <select name="course_content" id="course_content" size="{{ areas|length }}" class="form-control"></select>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <input type="button" id="remove_all" value=">>" class="btn" />
        </div>
        <div class="form-group">
          <input type="button" id="remove_selected" value=">" class="btn" />
        </div>
        <div class="form-group">
          <input type="button" id="add_selected" value="<" class="btn" />
        </div>
        <div class="form-group">
          <input type="button" id="add_all" value="<<" class="btn" />
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label for="knowledge_areas">Knowledge Area</label>
          <select id="knowledge_areas" class="form-control">
{%- for area in areas %}
            <option value="{{ area.id }}">{{ area.id }} - {{ area.text }}</option>
{%- endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="unassigned_units">Knowledge Units (unassigned)</label>
          <select id="unassigned_units" size="{{ areas|length - 4 }}" class="form-control"></select>
        </div>
      </div>
    </div>
    <div>
      <h3>Learning Outcomes<span id="outcome_breadcrumb"></span></h3>
      <table name="learning_outcomes" id="learning_outcomes" class="table table-striped">
      </table>
    </div>
{% endblock %}
