{% extends "base.html" %}
{% block page_title %}{% if course %}{{ _('Edit Course Details') }}{% else %}{{ _('New Course') }}{% endif %}{% endblock page_title %}
{% block content %}
{% if course is defined %}
    {% set title, abbr, description = course.title, course.abbr, course.description %}
    {% set action = url_for('course_details', program_id=course.program.id, course_id=course.id) %}
    <h1>{{ _('Edit Course Details') }}</h1>
{% else %}
    {% set action = url_for('course_new', program_id=program.id) %}
    <h1>{{ _('New Course') }}</h1>
{% endif %}
    <form method="post" action="{{ action }}" role="form">
      <div class="form-group">
        <label for="course_title">{{ _('Course Title (required)') }}</label>
        <input name="course_title" type="text" value="{{ title|e }}" placeholder="{{ _('Computer Science I') }}" required autofocus class="form-control" />
      </div>
      <div class="form-group">
        <label for="course_abbr">{{ _('Course Abbreviation') }}</label>
        <input name="course_abbr" type="text" value="{{ abbr|e }}" placeholder="CS 100" class="form-control "/>
      </div>
      <div class="form-group">
        <label for="course_description">{{ _('Course Description') }}</label>
        <textarea name="course_description" placeholder="{{ _('The catalog description including high-level outcomes, topics covered, and pedagogical approach.') }}" rows=4 class="form-control">{{ description|e }}</textarea>
      </div>
      <input type="submit" name="submit" value="{{ _('Submit') }}" class="btn btn-primary" />
    </form> 
{% endblock content %}
