{% extends "base.html" %}
{% block page_title %}Course Information{% endblock page_title %}
{% block page_js %}<script src="{{ url_for('static', filename='course.js') }}"></script>{% endblock %}
{% block content %}
    <h1>{{ course.title }} <small>{% if course.abbr %}({{ course.abbr }}){% endif %}</small></h1>
    <p id="course_description">{{ course.description or "No description provided." }}</p>
{% if course.program.user.id == g.user.id %}
    <a href="{{ url_for('course_edit', program_id=course.program.id, course_id=course.id) }}">edit</a>
{% endif %}
    <h2>Course Content</h2>
    <h3>Knowledge Units</h3>
{% if course.units|length %}
    <table class="table table-striped">
      <tr>
        <th>Tier 1</th>
        <th>Tier 2</th>
        <th>Knowledge Area</th>
        <th>Knowledge Unit</th>
        <th>&nbsp;</th>
      </tr>
  {% for unit in course.units %}
      <tr>
        <td>{{ unit.tier1 }}</td>
        <td>{{ unit.tier2 }}</td>
        <td>{{ unit.area.text }}</td>
        <td>{{ unit.text }}</td>
        <td>{% if course.program.user.id == g.user.id %}<a href="{{ url_for('delete_unit', program_id=course.program.id, course_id=course.id, unit_id=unit.id) }}">remove</a>{% else %}&nbsp;{% endif %}</td>
      </tr>
  {% endfor %}
      <tr><td>{{ course.tier1_hours }}</td><td>{{ course.tier2_hours }}</td><td>Totals</td><td>&nbsp;</td></tr>
    </table>
{% else %}
    <p>No Knowledge Units have been added to this course.</p>
{% endif %}
<a href="">Assign Knowledge Units</a>
{% if course.units|length %}
    <h3>Learning Outcomes</h3>
    <table class="table table-striped">
      <tr>
        <th style="width:40px;">Tier</th>
        <th>Mastery</th>
        <th>Learning Outcome</th>
      </tr>
  {% for outcome in course.outcomes %}
      <tr>
        <td>{{ outcome.tier }}</td>
        <td>{{ outcome.mastery }}</td>
        <td>{{ outcome.text }}</td>
      </tr>
  {% endfor %}
    </table>
{% endif %}
{% if course.program.user.id == g.user.id %}
    <form id="course_delete" method="post" action="{{ url_for('course_delete', program_id=course.program.id, course_id=course.id) }}">
        <input type="submit" name="submit" value="Delete Course" />
    </form>
{% endif %}
{% endblock content %}
