{% extends "base.html" %}
{% block page_title %}Course Information{% endblock page_title %}
{% block page_js %}<script src="{{ url_for('static', filename='course.js') }}"></script>{% endblock %}
{% block nav %}
    <ul>
      <li><a href="{{ url_for('index') }}">Back to homepage</a></li>
      <li><a href="{{ url_for('program', program_id=course.program.id) }}">Back to {{ course.program.title }}</a></li>
      <li><a href="{{ url_for('new_course', program_id=course.program.id ) }}">Add new course</a></li>
    </ul>
{% endblock nav %}
{% block content %}
    <h1>Course Information</h1>
{% if message is defined %}
    <p class="message">{{ message }}</p>
{% endif %}
    <dl>
      <dt>Course Title</dt>
      <dd>{{ course.title }}</dd>
      <dt>Course Abbreviation</dt>
      <dd>{{ course.abbr or "No abbreviation provided." }}</dd>
      <dt>Description</dt>
      <dd>{{ course.description or "No description provided." }}</dd>
    </dl>
    <h2>Course Content</h2>
    <h3>Knowledge Units</h3>
{% if course.units|length %}
    <table>
      <tr>
        <th>Tier 1</th>
        <th>Tier 2</th>
        <th>Knowledge Area</th>
        <th>Knowledge Unit</th>
        <th>&nbsp;</th>
      </tr>
  {% for unit in course.units %}
      <tr>
        <td>{{ unit.tier1 }}</td>
        <td>{{ unit.tier2 }}</td>
        <td>{{ unit.area.text }}</td>
        <td>{{ unit.text }}</td>
        <td><a href="{{ url_for('delete_unit', program_id=course.program.id, course_id=course.id, unit_id=unit.id) }}">delete</a></td>
      </tr>
  {% endfor %}
      <tr><td>{{ tier1 }}</td><td>{{ tier2 }}</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    </table>
{% else %}
    <p>No Knowledge Units have been added to this course.</p>
{% endif %}
{% if course.units|length %}
    <h3>Learning Outcomes</h3>
    <table>
      <tr>
        <th>Tier</th>
        <th>Mastery</th>
        <th>Learning Outcome</th>
      </tr>
  {% for outcome in course_outcomes %}
      <tr>
        <td>{{ outcome.tier }}</td>
        <td>{{ outcome.mastery }}</td>
        <td>{{ outcome.text }}</td>
      </tr>
  {% endfor %}
    </table>
{% endif %}
    <input type="hidden" id="__course_id" value="{{ course.id }}" />
    <div><a href="{{ url_for('course', program_id=course.program.id, course_id=course.id, action='edit') }}">Edit Course</a></div>
    <div><a href="{{ url_for('course', program_id=course.program.id, course_id=course.id, action='delete') }}">Delete Course</a></div>
    <h2>Add Course Content</h2>
    <div>
      <label for="knowledge_areas">Knowledge Areas</label>
      <select id="knowledge_areas" size="{{ areas|length }}">
{% for area in areas %}
        <option value="{{ area.id }}">{{ area.id }} - {{ area.text }}</option>
{% endfor %}
      </select>
    </div>
    <div>
      <form method="post" action="{{ url_for('add_outcomes', program_id=course.program.id, course_id=course.id, source='unit') }}">
        <label for"knowledge_units">Knowledge Units</label>
        <select name="knowledge_units" id="knowledge_units" size="{{ areas|length }}" multiple="multiple">
        </select>
        <input type="submit" id="add_units" value="Add Unit(s)" />
      </form>
    </div>
    <div>
      <h3>Learning Outcomes</h3>
      <table name="learning_outcomes">
      </table>
    </div>
{% endblock content %}
