{% extends "base.html" %}
{% block page_title %}Edit Program{% endblock page_title %}
{% block content %}
{% if program is defined %}
    {% set title, description = program.title, program.description %}
    {% set action = url_for('program_edit', program_id=program.id) %}
    <h1>Edit Program Details</h1>
{% else %}
    {% set action = url_for('program_new') %}
    <h1>New Program</h1>
    <p>Create a program (major, minor, concentration, etc.) to design a new curriculum.</p>
{% endif %}
{% if message is defined %}
    <p class="message">{{ message }}</p>
{% endif %}
    <form method="post" action="{{ action }}" role="form">
      <div class="form-group">
        <label for="program_title">Program Title (required)</label>
        <input name="program_title" type="text" value="{{ title|e }}" placeholder="Computer Science Major" required autofocus class="form-control" /> 
      </div>
      <div class="form-group">
        <label for="program_description">Description</label>
        <textarea name="program_description" placeholder="The catalog description including high-level outcomes and administrativia." rows=4 class="form-control">{{ description|e }}</textarea>
      </div>
      <input type="submit" name="submit" value="Submit" class="btn btn-primary"/>
    </form> 
{% endblock content %}
