{% extends "base.html" %}
{% block page_title %}Edit Course{% endblock page_title %}
{% block content %}
{% if course is defined %}
    {% set title, abbr, description = course.title, course.abbr, course.description %}
    {% set action = url_for('course_edit', program_id=program.id, course_id=course.id) %}
    <h1>Edit Course Details</h1>
{% else %}
    {% set action = url_for('course_new', program_id=program.id) %}
    <h1>New Course</h1>
{% endif %}
    <form method="post" action="{{ action }}" role="form">
      <div class="form-group">
        <label for="course_title">Course Title (required)</label>
        <input name="course_title" type="text" value="{{ title|e }}" placeholder="Computer Science I" required autofocus class="form-control" />
      </div>
      <div class="form-group">
        <label for="course_abbr">Course Abbreviation</label>
        <input name="course_abbr" type="text" value="{{ abbr|e }}" placeholder="CS 100" class="form-control "/>
      </div>
      <div class="form-group">
        <label for="course_description">Course Description</label>
        <textarea name="course_description" placeholder="The catalog description including high-level outcomes, topics covered, and pedagogical approach." rows=4 class="form-control">{{ description|e }}</textarea>
      </div>
      <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
    </form> 
{% endblock content %}
