{% extends "base.html" %}
{% block page_title %}Homepage{% endblock page_title %}
{% block content %}
    <h1>Programs</h1>
    <table id="programs">
{% for p in programs %}
      <tr>
        <td><a href="{{ url_for('user_profile', nickname=p.user.nickname) }}"><img src="{{ p.user.avatar(64) }}" alt="{{ p.user.nickname }}"></a></td>
        <td><p><a href="{{ url_for('program', program_id=p.id) }}">{{ p.title }}</a></p>
{%- if p.description -%}<p>{{ p.description }}</p>{%- endif -%}
        </td>
      </tr>
{% endfor %}
    </table>
{% endblock content %}
