{% extends "base.html" %}
{% block page_title %}{{ _('Login Page') }}{% endblock page_title %}
{% block page_js %}<script src="/static/js/login.js"></script>{% endblock %}
{% block content %}
    <h1>{{ _('Login') }}</h1>
    <form name="login" method="POST" action="" role="form">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.openid.label() }}
        {{ form.openid(size=80, class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.remember_me(class="form-control") }} {{ form.remember_me.label }}</div>
      |
{%- for p in providers %}
      <a href="javascript:set_openid('{{ p.url }}', '{{ p.name }}');">{{ p.name }}</a> |
{%- endfor %}
      <input type="submit" value="{{ _('Sign In') }}" class="btn btn-primary" />
    </form>
{% endblock content %}
