<h1>{{ _('Learning Outcomes') }}</h1>

{% if area is defined %}
<h2><a href="{{ url_for('knowledge_units', area_id=area.id) }}">{{ area.id }} - {{ area.text }}</a></h2>
<h3>{{ unit.text }}</h3>
{% endif %}
{% if hours %}{% set list="ol" %}{% else %}{% set list="ul" %}{% endif %}

{% if tier1|length %}
<h4>{{ _('Tier 1') }}{% if hours %} ({{ hours[0] }} {{ _('hours')) }}{% endif %}</h4>
<{{ list }}>
{% for outcome in tier1 %}
  <li>{{ outcome.text }}</li>
{% endfor %}
</{{ list }}>
{% endif %}

{% if tier2|length %}
<h4>{{ _('Tier 2') }}{% if hours %} ({{ hours[1] }} {{ _('hours') }}){% endif %}</h4>
<{{ list }}>
{% for outcome in tier2 %}
  <li>{{ outcome.text }}</li>
{% endfor %}
</{{ list }}>
{% endif %}

{% if electives|length %}
<h4>{{ _('Electives') }}</h4>
<{{ list }}>
{% for outcome in electives %}
  <li>{{ outcome.text }}</li>
{% endfor %}
</{{ list }}>
{% endif %}

