{% extends "base.html" %}
{% block page_title %}Program Summary{% endblock page_title %}
{% block nav %}
    <ul>
      <li><a href="{{ url_for('index') }}">Back to homepage</a></li>
      <li><a href="{{ url_for('new_course', program_id=program.id ) }}">Add new course</a></li>
    </ul>
{% endblock nav %}
{% block content %}
    <h1>Program Summary</h1>
{% if message is defined %}
    <p class="message">{{ message }}</p>
{% endif %}
    <dl>
      <dt>Program Title</dt>
      <dd>{{ program.title }}</dd>
      <dt>Description</dt>
      <dd>{{ program.description or "No description provided." }}</dd>
      <dt>Number of courses</dt>
      <dd>{{ courses|length }}
      <dt>Tier 1 Hours</dt>
      <dd>{{ tier1 }}/{{ tier1_total }} ({{ "%0.0f"|format(tier1 / tier1_total * 100) }}%)</dd>
      <dt>Tier 2 Hours</dt>
      <dd>{{ tier2 }}/{{ tier2_total }} ({{ "%0.0f"|format(tier2 / tier2_total * 100) }}%)</dd>
    </dl>
    <h2>Courses</h2>
    <ul>
{% for course in program.courses %}
      <li><a href="{{ url_for('course', program_id=program.id, course_id=course.id) }}">{% if course.abbr %}{{ course.abbr }}: {% endif %}{{ course.title }}</a></li>
{% else %}
      <p>No courses have been added to this program.</p>
{% endfor %}
    </ul>
    <div><a href="{{ url_for('program', program_id=program.id, action='edit') }}">Edit Program</a></div>
    <div><a href="{{ url_for('program', program_id=program.id, action='delete') }}">Delete Program</a></div>
{% endblock content %}
