<a href="{{ url_for('knowledge_areas') }}"><h1>{{ _('Knowledge Units') }}</h1></a>

{% if area %}
<h2>{{ area.id }} - {{ area.text }}</h2>
{% endif %}
<table>
  <tr><th>{{ _('Tier 1') }}</th><th>{{ _('Tier 2') }}</th>{% if not area %}<th>{{ _('Knowledge Area') }}</th>{% endif %}<th>{{ _('Knowledge Unit') }}</th></tr>
{% for unit in units %}
  <tr><td>{{ hours[loop.index0][0] }}</td><td>{{ hours[loop.index0][1] }}</td>{% if not area %}<td>{{ unit.area.text }}</td>{% endif %}<td><a href="{{ url_for('learning_outcomes', area_id=unit.area.id, unit_id=unit.id) }}">{{ unit.text }}</a></li>
{% endfor %}
</table>
