{% extends "base.html" %}
{% block page_title %}Course Information{% endblock page_title %}
{% block page_js %}<script src="{{ url_for('static', filename='course.js') }}"></script>{% endblock %}
{% block nav %}
    <ul>
      <li><a href="{{ url_for('index') }}">Back to homepage</a></li>
      <li><a href="{{ url_for('program', program_id=program.id) }}">Back to {{ program.title }}</a></li>
      <li><a href="{{ url_for('new_course', program_id=program.id ) }}">Add new course</a></li>
    </ul>
{% endblock nav %}
{% block content %}
    <h1>Course Information</h1>
    <h2>{% if course.abbr %}{{ course.abbr }}: {% endif %}{{ course.title }}</h2>
{% if course.description %}
    <p>{{ course.description }}</p>
{% else %}
    <p>No course description available.</p>
{% endif %}
{% if message is defined %}
    <p class="message">{{ message }}</p>
{% endif %}
    <h3>Learning Outcomes</h3>
{% if course_outcomes is defined %}
  {% if course_outcomes[0]|length %}
      <h4>Tier 1</h4>
      <ul>
    {% for outcome in course_outcomes[0] %}
        <li>{{ outcome.text }}</li>
    {% endfor %}
      </ul>
  {% endif %}
  {% if course_outcomes[1]|length %}
      <h4>Tier 2</h4>
      <ul>
    {% for outcome in course_outcomes[1] %}
        <li>{{ outcome.text }}</li>
    {% endfor %}
      </ul>
  {% endif %}
  {% if course_outcomes[2]|length %}
      <h4>Elective</h4>
      <ul>
    {% for outcome in course_outcomes[2] %}
        <li>{{ outcome.text }}</li>
    {% endfor %}
      </ul>
  {% endif %}
{% else %}
      <p>No outcomes have been assigned.</p>
{% endif %}
    <div><a href="{{ url_for('course', program_id=program.id, course_id=course.id, action='edit') }}">Edit Course</a></div>
    <div><a href="{{ url_for('course', program_id=program.id, course_id=course.id, action='delete') }}">Delete Course</a></div>
    <h2>Add Course Content</h2>
    <div>
      <p>Knowledge Areas</p>
      <select id="knowledge_areas" size="{{ areas|length }}">
{% for area in areas %}
        <option value="{{ area.id }}">{{ area.id }} - {{ area.text }}</option>
{% endfor %}
      </select>
    </div>
    <div>
      <p>Knowledge Units</p>
      <select id="knowledge_units" size="{{ areas|length }}" multiple="multiple">
      </select>
      <input type="button" value="Add Unit(s)" />
    </div>
    <div>
      <p>Learning Outcomes</p>
      <select name="learning_outcomes" id="learning_outcomes" size="{{ outcomes|length }}" multiple="multiple">
      </select>
      <input type="button" value="Add Outcome(s)" />
    </div>
{% endblock content %}
