{% extends "base.html" %}
{% block page_title %}New Course{% endblock page_title %}
{% block nav %}
    <ul>
      <li><a href="{{ url_for('program', program_id=program.id) }}">Back to {{ program.title }}</a></li>
    </ul>
{% endblock nav %}
{% block content %}
{% if course is defined %}
    {% set title, abbr, description = course.title, course.abbr, course.description %}
    {% set action = url_for('modify_course', program_id=program.id, course_id=course.id) %}
    <h1>Edit Course</h1>
{% else %}
    {% set title = "" %}
    {% if abbr is not defined %}{% set abbr = "" %}{% endif %}
    {% if description is not defined %}{% set description = "" %}{% endif %}
    {% set action = url_for('modify_course', program_id=program.id) %}
    <h1>New Course</h1>
{% endif %}
    <form method="post" action="{{ action }}">
{% if message is defined %}
      <p><strong>{{ message }}</strong></p>
{% endif %}
      <label for="title">Course Title<span class="required">*</span></label>
      <input name="title" type="text" value="{{ title }}" /> 
      <p class="guidelines">The name of the course, as it might be printed in the course catalog.</p> 
      <label for="abbr">Course Abbreviation</label>
      <input name="abbr" type="text" value="{{ abbr }}" /> 
      <p class="guidelines">The course catalog number (eg. CS 101) or other short reference title.</p> 
      <label for="description">Course Description</label>
      <textarea name="description">{{ description }}</textarea> 
      <p class="guidelines">The public catalog description that should include topics covered and pedagogical approach.</p> 
      <input type="submit" name="submit" value="Submit" />
      <p>Fields marked with an asterisk (<span class="required">*</span>) are required.</p>
    </form> 
{% endblock content %}
