{% extends "base.html" %}
{% block page_title %}New Course{% endblock page_title %}
{% block nav %}
    <ul>
      <li><a href="{{ url_for('program', program_id=program.id) }}">Back to {{ program.title }}</a></li>
    </ul>
{% endblock nav %}
{% block content %}
    <h1>New Course</h1>
    <form method="post" action="{{ url_for('add_course', program_id=program.id) }}">
      <p>Add a new course to the "{{ program.title }}" program.</p>
{% if message is defined %}
      <p><strong>{{ message }}</strong></p>
{% endif %}
      <label for="title">Course Title<span class="required">*</span></label>
      <input name="title" type="text" value="" /> 
      <p class="guidelines">The name of the course, as it might be printed in the course catalog.</p> 
      <label for="abbr">Course Abbreviation</label>
      <input name="abbr" type="text" value="" /> 
      <p class="guidelines">The course catalog number (eg. CS 101) or other short reference title.</p> 
      <label for="description">Course Description</label>
      <textarea name="description"></textarea> 
      <p class="guidelines">The public catalog description that should include topics covered and pedagogical structure.</p> 
      <input type="submit" name="submit" value="Submit" />
      <p>Fields marked with an asterisk (<span class="required">*</span>) are required.</p>
    </form> 
{% endblock content %}
