{% extends "base.html" %}
{% block page_title %}Program Summary{% endblock page_title %}
{% block nav %}
    <ul>
      <li><a href="{{ url_for('index') }}">Back to homepage</a></li>
      <li><a href="{{ url_for('new_course', program_id=program.id ) }}">Add new course</a></li>
    </ul>
{% endblock nav %}
{% block content %}
    <h1>Program Summary</h1>
    <h2>{{ program.title }}</h2>
{% if message is defined %}
    <p class="message">{{ message }}</p>
{% endif %}
{% if courses|length %}
    <ul>
{% for course in courses %}
      <li><a href="{{ url_for('course', program_id=program.id, course_id=course.id) }}">{{ course.title }}</a></li>
{% endfor %}
    </ul>
{% endif %}
{% endblock content %}

